<!-- video -->
<div class="pad20"></div>
<div class="title">
    <span class="arr"></span>
    <span>{{pageTitle}}</span>
</div>
<iframe width="100%" height="630" src="https://www.youtube.com/embed/0ZxuOwlkRhU" frameborder="0" allowfullscreen></iframe>

<!-- top -->
<div class="pad20"></div>
<div class="title">
    <span class="arr"></span>
    <span>Top 3</span>
</div>

<div class="blogGallery">
    <ul class="listItemGall" *ngIf='sexybongs && sexybongs.length'>
        <li *ngFor="let sexybong of sexybongs">
            <div class="itemblogImg">
                <a href="{{sexybong.url}}">
                    <img [src]="sexybong.image" height="200" width="300" alt="I love you">
                </a>
            </div>
            <h3 class="itemTitle">
                <a class="clorBk" href="#">{{sexybong.title}}</a></h3>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>