<div class="pad20"></div>
<div class="title">
    <span class="arr"></span>
    <span>{{pageTitle}}</span>
</div>

<div class="pad20"></div>

<audio controls>
    <source src="mock_data/vonguoita.mp3" type="audio/mpeg">
</audio>

<div class="sexy-list">
    <!-- Filter   -->
    <span>Search </span>
    <input class="search" type='text' [(ngModel)]="filterBy" />
    <h3>Filter by keyword: {{filterBy}}</h3>

    <!-- table -->
    <div class='has-error'> </div>
    <table *ngIf='sexybongs && sexybongs.length'>
        <thead>
        <tr>
            <th>
                <button *ngIf="showInfo" (click)="fiveHundredInfo()">
                    {{showInfo?"Show":"Hide"}} info
                </button>
            </th>
            <th width="25%">Name</th>
            <th width="20%">Metric</th>
            <th width="10%">Catse</th>
            <th width="10%">Code</th>
            <th width="15%">Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sexy of sexybongs">
            <td>
                <!-- style="width=12px"-->
                <img *ngIf="showInfo" [src]="sexy.avatarUrl" [style.width.px]="widthImage">
            </td>
            <td>
                <p>
                    <a [routerLink]="[ '/sexybong', sexy.id ]">{{sexy.name}}</a></p>
                <p>Tuoi: {{sexy.info}}</p>
            </td>
            <td>
                <p>v1: {{sexy.metrics.v1}}</p>
                <p>v2: {{sexy.metrics.v2}} </p>
                <p>v3: {{sexy.metrics.v3}} </p>
                <p>Height: {{sexy.metrics.height}}</p>
            </td>
            <td> {{sexy.catse | currency:'VND':true:'.2'}}</td>
            <td><span *ngIf="flagShow">{{sexy.codeNr | lowercase }}</span></td>
            <td>
                {{sexy.loveNr}}
            </td>
        </tr>
        </tbody>
    </table>
</div>